<!-- <%- include ../partials/header.ejs %>


<form action="/user/login" method="POST">
  <input type="text" name="username" placeholder="username" /><br />
  <input type="password" name="password" placeholder="password" /><br />
  <button>Log in</button>
</form>

<small><a href="/user/register">Sign up!</a></small>


<%- include ../partials/footer.ejs %> -->