<% include ../partials/header.ejs%>
<div class="container-fluid">

  <header>
    <div id="header-row" class="row d-flex">
      <div class="col-12 logo d-flex">
        <nav>
          <ul class="d-flex">
            <li><a href="/">Home</a></li>
            <li><a href="<%= userBarId %>">My Account</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/project/random">Random Project</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/logout">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  <main class="new-main">
    <section id="divider"></section>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="row proj-create d-flex">
          <h1>Create New Project</h1>
          <div class="d-flex inner-create">
         
            <div class="col-6 field-names">
              <p>Title:</p>
              <p>Project Difficulty:</p>
            </div>
            <div class="col-6 inputs">
              <form action="/project" method="POST">
                <p><input type="text" name="title"/><br></p>
                <p><select name="skillLevel">
                  <option value="">--Please choose a difficulty--</option>
                  <option value="apprentice">Apprentice</option>
                  <option value="journeyperson">Journeyperson</option>
                  <option value="master">Master</option>
                </select></p>
                <button>Create Project</button>
              </form>
            </div>
          </div>
        </div>
      <div class="col-3"></div>
    </div>
  </main>

</div>
<% include ../partials/footer.ejs%>