<% include ../partials/header.ejs%>
<div class="container-fluid">

  <header>
    <div id="header-row" class="row d-flex">
      <div class="col-12 logo d-flex">
        <nav>
          <ul class="d-flex">
            <li><a href="/">Home</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/project/random">Random Project</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/logout">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <div class="row">
      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <div class="project-tools"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="project-resources"></div>
          </div>
        </div>
      </div>
      <div class="col-6 main-project-area">
        <h1>The <%=project.title%> Project</h1>

        <% for (let i = 0; i < project.text.length; i++) { -%>
          <p><img src="<%=project.media[i]%>" /></p>
          <p><%=project.text[i]%></p>
        <% } -%>

      </div>
      <div class="col-3">sidebar</div>
    </div>
    <a href="/project">Back</a>
  </main>












</div>
<% include ../partials/footer.ejs%>