<% include ./partials/header.ejs%>
<div class="container-fluid">

  <header> 
    <div id="header-row" class="row d-flex">
      <div class="col-12 logo d-flex">
        <nav>
          <ul class="d-flex">
            <li><a href="/">Home</a></li>
            <li><a href="<%= userId %>">My Account</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/project/random">Random Project</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <section id="divider"><p><%= message %>&nbsp;</p></section>
    <div class="row">
      <div class="col-6 outer-vod">
        <div class="row video d-flex">
          <p id="titleVod">Video of the Day</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/HRjVJGg0xsw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="vod">
            <p id="descrVod">For today's video of the day, celebrated English woodworker Paul Sellers offers his "Top 10 Woodworking Tips and Tricks". Enjoy! </p>
          </div>
        </div>
      </div>
      <div class="col-6 main-content d-flex">
        <div id="main-container" class="d-flex">
          <h1>-WWRC-</h1>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;Welcome to the Woodworker's Resource Center, where we host crowd-sourced instructional tutorials on your favorite woodworking projects!</p>
          <h3>Upcoming events: </h3>
          <div id="events">
            <p>- Making a Bandsaw Jewelry box with Jeff Hofbauer - by Rockler Woodworking and Hardware - 2.8.19 - <a href="https://www.eventbrite.com/e/making-a-bandsaw-jewelry-box-with-jeff-hofbauer-schaumburg-tickets-53534573350?aff=ebdssbdestsearch">More info.</a></p>
            <p>- Woodworking 101 - by Rebuilding Exchange - 2.12.19 - <a href="https://www.eventbrite.com/e/woodworking-101-tickets-52881915232?aff=ebdssbdestsearch">More info.</a></p>
            <p>- Knife Making - by Rockler Woodworking and Hardware - 2.16.19 - <a href="https://www.eventbrite.com/e/knife-making-orland-park-tickets-53534612467?aff=ebdssbdestsearch">More info.</a></p>
            <p>- Bowl Turning - by Rockler Woodworking and Hardware - 2.23.19 - <a href="https://www.eventbrite.com/e/bowl-turning-orland-park-tickets-53534664623?aff=ebdssbdestsearch">More info.</a></p>
            <p>- Pen Turning - by Rockler Woodworking and Hardware - 3.23.19 - <a href="https://www.eventbrite.com/e/pen-turning-class-tickets-55505250699?aff=ebdssbdestsearch">More info.</a></p>
          </div>
          
          
        </div>
      </div>
    </div>
  </main>












</div>
<% include ./partials/footer.ejs%>