<% include ./partials/header.ejs%>
<div class="container-fluid">

  <header>
    <div class="row">
      <div class="col-12 logo">LOGO</div>
    </div>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Projects</a></li>
          <ul>
            <li><a href="#">Apprentice</a></li>
            <li><a href="#">Journeyperson</a></li>
            <li><a href="#">Master</a></li>
          </ul>
        <li><a href="#">Random Project</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Login/Register</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="row">
      <div class="col-6">video of day</div>
      <div class="col-6">right side graphic</div>
    </div>
  </main>












</div>
<% include ./partials/footer.ejs%>