<%- include ../partials/header.ejs %>
  
<form action="/user/register" method="POST">
  <input type="text" name="username" placeholder="username" /><br /> 
  <input type="password" name="password" placeholder="password" /><br />
  <input type="email" name="email" placeholder="email" /><br />
  <button>Register</button>
</form>

<small>Already have an account? <a href="/user/login">Log in here</a></small>


<%- include ../partials/footer.ejs %>