body {
  background-color: lightblue;
}

.logo {
  background-color: red;
  height: 20vh;
}

nav {
  background-color: orange;
  height: 5vh;
}

main {
  background-color: blue;
  height: 60vh;
}

footer {
  background-color: green;
  height: 15vh;
}

ul  { 
  display: inline;
}

li {
  display: inline;
}

/*project page*/

.project-tools {
  background-color: lavender;
  height: 100%;
}

.project-resources {
  background-color: lightgrey;
  height: 100%;
}

.main-project-area {
  background-color: cadetblue;
  height: 100%;
}

.small-headline {
  font-size: 10px;
}