.container-fluid {
  padding: 0;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/   
          /* Header */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#header-row {
  height: 17vh;
  width: 101.05vw;
}

.logo {
  background: url("https://i.imgur.com/MMvhXdp.png"), url("https://i.imgur.com/J5Oac2R.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 300px 150px, cover;
  background-position: left, center;
  align-items: flex-end;
  justify-content: flex-end;
}

.logo li {
  display: inline;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 20px;
}

.logo a {
  color: black;
  text-decoration: none;
}

.logo a:hover {
  color: lightgrey;
}

#divider {
  background-color: rgba(0, 0, 0, .7);
  height: 4vh;
  width: 100vw;
  padding: 0;
  color: white;
  font-family: 'Fanwood Text', serif;
  font-size: 16px;
  text-align: right;
  padding: 6px 6px 0 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/   
          /* Main Page */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

main {
  min-height: 76vh;
  background-image: url(https://s3.amazonaws.com/finewoodworking.s3.tauntoncloud.com/app/uploads/2016/09/05200849/011251028_dream-shop-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/   
          /* Home Page VOD */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.outer-vod {
  justify-content: center;
  align-items: center;
}

.video {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Fanwood Text', serif;
  border: 2px solid black;
  padding: 0;
  margin: 25px 0 0 25px;
  background-color: rgba(255, 255, 255, .8);
}

#titleVod {
  font-size: 40px;
}

#descrVod {
  font-size: 16px;
  text-align: justify;
  padding: 10px;
}

.vod {
  width: 560px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/   
          /* Home Page Content */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-content {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#main-container {
  height: 30em;
  width: 40em;
  background-color: blue;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid black;
  flex-direction: column;
  align-items: center;
}

#main-container h1 {
  font-family: 'American Typewriter', serif;
  font-size: 4em;
  font-weight: 600;
}

#main-container h3 {
  font-family: 'American Typewriter', serif;
  font-weight: 600;
}

#main-container p {
  font-family: 'Fanwood Text', serif;
  font-size: 1.5em;
  text-align: justify;
  padding: 0 10px 0 10px;
}

#events {
  overflow-y: scroll;
  font-size: .9em;
}

#events a {
  text-decoration: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/   
          /* Login/Register Page  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.login-main {
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.login-box {
  width: 20vw;
  background-color: rgba(255, 255, 255, .9);
  align-items: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  font-family: 'Fanwood Text', serif;
  padding-top: 10px;
}

.login-box input {
  border: 2px solid lightgrey;
  margin: 2px;
  border-radius: 10px;
  font-family: 'Fanwood Text', serif;
  padding-left: 10px;
}

.login-box button {
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid lightgrey;
  font-family: 'Fanwood Text', serif;
}

.login-box a {
  padding-bottom: 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/   
/* My Account page and Project TOC page */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-project-area {
  
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, .7);
  min-height: 72vh;
  font-family: 'Fanwood Text', serif;
}

#user-title {
  border: 5px solid black;
  margin: 20px 0 0 0;
  
}

.project-div {
  text-align: left;
}

.project-div form {
  display: inline-block;
}

.project-div li {
  list-style: none;
  margin-left: 40px;
}

.main-project-area h1 {
  font-family: 'American Typewriter', serif;
  padding: 5px;
  font-size: 30px;
}

.main-project-area a {
  text-decoration: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/   
          /* Create new project page    */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.new-main {
  background: rgb(153, 148, 139);
}
.proj-create {
  background-color: rgba(255, 255, 255, .7);
  justify-content: center;
  align-items: center;
  height: 30vh;
  border-left: 20px solid rgba(0, 0, 0, .5);
  border-right: 20px solid rgba(0, 0, 0, .5);
  border-bottom: 20px solid rgba(0, 0, 0, .5);
  font-family: 'Fanwood Text', serif;
  border-radius: 0 0 20px 20px;
}

.proj-create h1 {
  font-family: 'American Typewriter', serif;
  
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/   
          /* Create new content page    */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.new-content-main {
  background: rgb(153, 148, 139);
}

.preview-section {
  border-left: 5px solid rgba(0, 0, 0, .5);
  height: 72vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.preview-section h3 {
  font-family: 'American Typewriter', serif;
  margin-top: 15px;
  text-align: center;
}

.preview-header {
  width: 25vw;
  background-color: rgba(255, 255, 255, .5);
  justify-content: center;
  border-left: 5px solid rgba(0, 0, 0, .5);
  border-right: 5px solid rgba(0, 0, 0, .5);
  border-bottom: 5px solid rgba(0, 0, 0, .5);
}

.preview-content {
  width: 25vw;
  height: 60vh;
  background-color: rgba(255, 255, 255, .5);
  align-items: center;
  justify-content: flex-end;
  border-left: 5px solid rgba(0, 0, 0, .5);
  border-right: 5px solid rgba(0, 0, 0, .5);
  flex-direction: column;

}

.prev-inner-header {
  background-color: rgba(255, 255, 255, .5);
  border-left: 5px solid rgba(0, 0, 0, .5);
  border-right: 5px solid rgba(0, 0, 0, .5);
  width: 25vw;
  height: 4vh;
  justify-content: center;
}
.prev-inner-header .small-headline {
  font-family: 'American Typewriter', serif;
}

.preview-content-inner {
  text-align: center;
  overflow-y: scroll;
  width: 200px;

}

.preview-content-inner img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 10px;
}

.preview-content-inner p {
  font-family: 'Fanwood Text', serif;
  font-size: 10px;
  max-height: 180px;
  max-width: 180px;
  text-align: justify;
}

.add-new-section {
  border-right: 5px solid rgba(0, 0, 0, .5);
  height: 72vh;
  font-family: 'Fanwood Text', serif;
  background-color: rgba(255, 255, 255, .5);
}

.add-new-section h1 {
  font-family: 'American Typewriter', serif;
  text-align: center;
}

.nc-field-names {
  flex-direction: column;
}

.nc-field-names p {
  margin-left: 10px;
}

#p2 {
  margin-top: 10px;
}

.nc-inputs {
  flex-direction: column;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/   
          /* Project show page  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.project-show {
  background: rgb(153, 148, 139);
}

.main-project-area-show img {
  max-height: 50vh;
  max-width:  50vw;
  border-radius: 20px;
}

.main-project-area-show p {
  max-height: 45vh;
  max-width:  45vw;
  margin-top: 15px;
  font-family: 'Fanwood Text', serif;
  font-size: 1.4em;
  text-align: justify;
}

.main-project-area-show {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, .7);
  border-left: 20px solid rgba(0, 0, 0, .5);
  border-right: 20px solid rgba(0, 0, 0, .5);
  border-bottom: 20px solid rgba(0, 0, 0, .5);
  font-family: 'American Typewriter', serif;

}

.main-project-area-show h1 {
  border: 2px solid black;
  padding: 5px;
  margin-top: 15px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   
          /* Footer  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer {
  height: 7vh;
  background-color: rgb(191, 191, 191);
}

#footer-row {
  justify-content: center;
}

#footer-row p {
  padding-top: 15px;
  font-family: 'Fanwood Text', serif;
}

